<% if resource.errors.present? %>
  <div>
    <h2><%= t('errors.template.header', count: resource.errors.size, model: resource.class) %></h2>

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
