<footer class="page-footer bg-light">
  <div class = "footer-copyright text-center py-3">
    <p>By Evgeny Prygunov. <%= current_year %> year.</p>
    <p>Project <%= github_url('EvgenyPrygunov', 'test-guru') %> - for making and taking tests.</p>
    <p><%= link_to 'Studying project in the online-school Thinknetica', 'http://thinknetica.com/', target: :blank %></p>
  </div>
</footer>
