<p>By Evgeny Prygunov. <%= current_year %> year.</p>
<p>Project <%= github_url('EvgenyPrygunov', 'test-guru') %> - for making and taking tests.</p>
<p><%= link_to 'Studying project in the online-school', 'http://thinknetica.com/', target: :blank %></p>
