<div class="nav user">
  <% if user_signed_in? %>
    <p>Welcome, <b><%= current_user.email %> Guru!</b>
      <%= link_to 'Logout', destroy_user_session_path , method: :delete %>
    </p>
  <% else %>
    <p>
      <%= link_to 'Register', user_registration_path, method: :post %> |
      <%= link_to 'Login', user_session_path, method: :post %>
    </p>
  <% end %>
</div>
